<% collection = CollectionDisplayService.new.retrieve Collection.find(request.collection_id).rooms %>

<tr>
  <td> <%= link_to "X", queue_path(req_id: request.id), :method =>
    :delete,
    :class => "btn btn-default" %></td>
  <td> <%= index + 1 %> </td>
  <td> <%= collection[:dorm_name] %> </td>
  <td> <%= collection[:room_nums] %> </td>
  <td> <%= request.draw_group_id %> </td>
</tr>