<div class="center">
  <h1 class="center">Welcome <%= curr_name %></h1>
  <% occ = occupy_query current_user.student_id %>
  <% if occ.present? %>
    <h3>
      You are living in <%= dorm_name occ %>: Room #s <%= room_nums occ %> <br/><br/>
      with <br/><br/>
      <%= group_names occ %>
    </h3>
  <% else %>
    <h3>
      You have not yet drawn a room. <br/> <br/>
      Click <%= link_to "Groups", group_path({id: params[:id]}) %> to manage who want to live with! <br/><br/>
      Click <%= link_to "Search", search_path({id: params[:id]}) %> to select where you'd like to live! <br/><br/>
      Click <%= link_to "Queue", queue_path({id: params[:id]}) %> to view your preferences!
    </h3>
  <% end %>
</div>