<tr>
  <td> <%= link_to "X", group_path(group_id: group.id), :method => :delete, :class => "btn btn-default" %></td>
  <td> <%= group.id %></td>
  <td>
    <% students_in(group).each do |mem|-%>
      <%= mem.name %> <br/>
    <% end -%>
    <%= form_for :member,  {:action => "create", :id => group, :controller => "groups"} do |f| -%>
      <%= f.hidden_field :group_id, value: group.id  %>
      <div class="input-group rep-width">
        <%= f.text_field :student, placeholder: "student id" %>
        <span class="input-group-btn">
          <%= f.submit "Add" , {class: "btn btn-sm btn-default add-button"}%>
        </span>
      </div>
    <% end -%>
  </td>
  <td> <%= (Student.find group.student_id).name%> </td>
  <td> <%= (group.draw_num % 1).zero? ? group.draw_num.to_i : group.draw_num  %> </td>
  <td> <%= group.for_suite ? "YES" : "NO"%> </td>
</tr>