<!DOCTYPE html>
<html>
<head>
  <title>RoomDraw</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/header" %>

  <div class="container">
    <div class="row">
      <div class="col-md-3" id="leftCol">
        <div class="well">
          <ul class="nav nav-stacked" id="sidebar">
            <li><a href="#sec1">Section 1</a></li>
            <li><a href="#sec2">Section 2</a></li>
            <li><a href="#sec3">Section 3</a></li>
            <li><a href="#sec4">Section 4</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-9">

        <%= yield %>

      </div>
    </div>
  </div>
</body>
</html>
