<!DOCTYPE html>
<html>
<head>
  <title>RoomDraw</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/header" %>

  <div class="container">
    <div class="row">

      <% if @current_user and not (occupy_query @current_user.student_id).present? -%>
        <%= render "layouts/sidebar" %>
        <div class="col-md-10">
          <%= yield %>
        </div>

      <% else -%>
        <%= yield %>
      <% end -%>

    </div>
  </div>
</body>
</html>
